@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0; /* 텍스트 색상 (검정색) */
    --background-color: 255, 255, 255; /* 배경색 (흰색) */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255; /* 텍스트 색상 (흰색) */
        --background-color: 0, 0, 0; /* 배경색 (검정색) */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-color)); /* 배경색을 흰색으로 설정 */
}
